@using Azure.Core
@model X.PagedList.IPagedList<PTPMDV_Website.ViewModels.MotoVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-controller="Home" asp-action="Index">Trang Chủ</a> 
                <span class="breadcrumb-item active">Danh Sách Xe</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4"> 
            <!-- Type Start -->
            @await Component.InvokeAsync("MenuMotoType")
            <!-- Type End -->
            <!-- Brand Start -->
            @await Component.InvokeAsync("MenuMotoBrand")
            <!-- Brand End -->
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            
                        </div>
                    </div>
                </div>

                @foreach (var moto in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4" style="height:450px">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="~/img/Mota/@moto.AnhMoTaUrl" alt="">
                                <div class="product-action">
                                    <!--
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    -->
                                    <a class="btn btn-outline-dark btn-square" style="font-size:2rem"
                                        asp-controller="Moto" asp-action="ProducDetail" asp-route-motoId="@moto.MaXe">
                                        <i class="fa fa-search" style="font-size:2rem"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">@moto.TenXe</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>Giá từ @moto.GiaBanMoTa</h5>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- Phân trang -->
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            @if (Model.HasPreviousPage)
                            {
                                <li class="page-item">
                                    <a href="@Url.Action("Index", new { page = Model.PageNumber - 1})" class="page-link btn-primary">Trước</a>
                                </li>
                            }

                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                    <a href="@Url.Action("Index", new { page = i})" class="page-link btn-primary">
                                        @i
                                    </a>
                                </li>
                            }

                            @if (Model.HasNextPage)
                            {
                                <li class="page-item">
                                    <a href="@Url.Action("Index", new { page = Model.PageNumber + 1})" class="page-link btn-primary">Sau</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
